#header {
    background-image: url(../../Assets/bg_hero.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

@media only screen and (max-width: 960px) {
    #headerEduLogo {
        display: none;
    }
    .header_content {
        width: 100%;
        justify-content: center;
        text-align: center;
    }
    .header_swiper {
        width: 100%;
        right: 0;
    }
}
